<section>
    <h2>{{TT_ABOUT_PDBOT}}</h2>
    <p>{{TT_ABOUT_DESC}}</p>
    <p>PDBot and this site are developed run by <a href="https://twitter.com/silasary">Silasary</a>.</p>
    <p>{{TT_TRANSLATED_INTO}} {{languages}}
    <br/>
    <a href="https://poeditor.com/join/project/NFeV04Z3yf">{{TT_HELP_TRANSLATE}}</a>
    </p>
    <p><a href="http://status.pennydreadfulmagic.com/">Status</a></p>
    <br>
    <p class="build-commit-id">build-commit-id: {{commit_id}}</p>
</section>
